<div class="row main-menu">
  <div class="row col-4 logo">
      <img class="logo-img" src="../../assets/img/normal_0.png" alt="">
  </div>
  <div class="row col-8 menu">
      <div class="col-1 icons-div">
          <i class="bi bi-mortarboard-fill icon-menu"></i>
          <a class="text-decoration-none link-menu" href="">
              Estudiar</a>
      </div>
      <div class="col-1 icons-div">
          <i class="bi bi-briefcase-fill icon-menu"></i>
          <a class="text-decoration-none link-menu" href="">
              Trabajar</a>
      </div>
      <div class="col-1 icons-div">
          <i class="bi bi-heart-pulse-fill icon-menu"></i>
          <a class="text-decoration-none link-menu" href="">
              Tu salud</a>
      </div>
      <div class="col-1 icons-div">
          <i class="bi bi-border-style icon-menu"></i>
          <a class="text-decoration-none link-menu" href="">
              Más temas</a>
      </div>
      <div class="col-1 icons-div">
          <i class="bi bi-droplet-fill icon-menu"></i>
          <a class="text-decoration-none link-menu" href="">
              Transpariencia</a>
      </div>
      <div class="col-1 icons-div">
          <img src="https://www.juntadeandalucia.es/themes/custom/terra/images/Logo-Junta-hover.png" class="nav-sup-lj" alt="">
          <a class="text-decoration-none link-menu" href="">La Junta</a>
      </div>
      <div class="col-1 icons-div">
          <i class="bi bi-laptop-fill icon-menu"></i>
          <a class="text-decoration-none link-menu" href="">
              Servicios</a>
      </div>
      <div class="col-1 icons-div">
          <i class="bi bi-newspaper icon-menu"></i>
          <a class="text-decoration-none link-menu" href="">
              Noticias</a>
      </div>
  </div>
</div>
