<div class="row carousell-div">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <h3 class="p-5 title-direct">DIRECTO A</h3>

      <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div>
      <div class="carousel-inner">
          <div class="carousel-item active">
              <div class="custom-carousel-item">
                  <div class="div-main-content">
                      <div class="title-div-carousel-slide">
                          <i class="bi bi-mortarboard-fill icon-menu"></i>
                          <h3>Estudiar</h3>
                      </div>
                      <hr>
                      <div class="links-div-carousel-slide">
                          <a class="text-decoration-none link-slide" href="">Escolarización</a>
                          <a class="text-decoration-none link-slide" href="">Escolarización</a>
                          <a class="text-decoration-none link-slide" href="">Escolarización</a>
                      </div>
                  </div>
                  <div class="div-main-content">
                      <div class="title-div-carousel-slide">
                          <i class="bi bi-mortarboard-fill icon-menu"></i>
                          <h3>Trabajar</h3>
                      </div>
                      <hr>
                      <div class="links-div-carousel-slide">
                          <a class="text-decoration-none link-slide" href="">Escolarización</a>
                          <a class="text-decoration-none link-slide" href="">Escolarización</a>
                          <a class="text-decoration-none link-slide" href="">Escolarización</a>
                      </div>
                  </div>
                  <div class="div-main-content">
                      <div class="title-div-carousel-slide">
                          <i class="bi bi-mortarboard-fill icon-menu"></i>
                          <h3>Tu salud</h3>
                      </div>
                      <hr>
                      <div class="links-div-carousel-slide">
                          <a class="text-decoration-none link-slide" href="">Escolarización</a>
                          <a class="text-decoration-none link-slide" href="">Escolarización</a>
                          <a class="text-decoration-none link-slide" href="">Escolarización</a>
                      </div>
                  </div>
                  <div class="div-main-content">
                      <div class="title-div-carousel-slide">
                          <i class="bi bi-mortarboard-fill icon-menu"></i>
                          <h3>Vivienda y consumo</h3>
                      </div>
                      <hr>
                      <div class="links-div-carousel-slide">
                          <a class="text-decoration-none link-slide" href="">Escolarización</a>
                          <a class="text-decoration-none link-slide" href="">Escolarización</a>
                          <a class="text-decoration-none link-slide" href="">Escolarización</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="carousel-item">
              <div class="custom-carousel-item">
                  <div class="div-main-content">
                      <div class="title-div-carousel-slide">
                          <i class="bi bi-mortarboard-fill icon-menu"></i>
                          <h3>Estudiar</h3>
                      </div>
                      <hr>
                      <div class="links-div-carousel-slide">
                          <a class="text-decoration-none link-slide" href="">Escolarización</a>
                          <a class="text-decoration-none link-slide" href="">Escolarización</a>
                          <a class="text-decoration-none link-slide" href="">Escolarización</a>
                      </div>
                  </div>
                  <div class="div-main-content">
                      <div class="title-div-carousel-slide">
                          <i class="bi bi-mortarboard-fill icon-menu"></i>
                          <h3>Estudiar</h3>
                      </div>
                      <hr>
                      <div class="links-div-carousel-slide">
                          <a class="text-decoration-none link-slide" href="">Escolarización</a>
                          <a class="text-decoration-none link-slide" href="">Escolarización</a>
                          <a class="text-decoration-none link-slide" href="">Escolarización</a>
                      </div>
                  </div>
                  <div class="div-main-content">
                      <div class="title-div-carousel-slide">
                          <i class="bi bi-mortarboard-fill icon-menu"></i>
                          <h3>Estudiar</h3>
                      </div>
                      <hr>
                      <div class="links-div-carousel-slide">
                          <a class="text-decoration-none link-slide" href="">Escolarización</a>
                          <a class="text-decoration-none link-slide" href="">Escolarización</a>
                          <a class="text-decoration-none link-slide" href="">Escolarización</a>
                      </div>
                  </div>
                  <div class="div-main-content">
                      <div class="title-div-carousel-slide">
                          <i class="bi bi-mortarboard-fill icon-menu"></i>
                          <h3>Estudiar</h3>
                      </div>
                      <hr>
                      <div class="links-div-carousel-slide">
                          <a class="text-decoration-none link-slide" href="">Escolarización</a>
                          <a class="text-decoration-none link-slide" href="">Escolarización</a>
                          <a class="text-decoration-none link-slide" href="">Escolarización</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
  </div>
</div>
